@model UniversalLibrary.Data.Entities.ReturnBook

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<br />
<br />
<br />
<h1>Return Book - Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDamaged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDamaged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyConfirmation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyConfirmation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageDescription)
        </dd>
    </dl>
</div>
<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fa fa-pen"></i> Edit</a>
    <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>
</div>
