@model UniversalLibrary.Data.Entities.Penalty

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h1>Penalty Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfractionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfractionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfractionDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfractionDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfractionLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfractionLocation.LibraryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FineAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FineAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
    </dl>
</div>
<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fa fa-pen"></i> Edit</a>
    <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>
</div>
