@model IEnumerable<UniversalLibrary.Data.Entities.Loan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<br />
<br />
<br />
<h1>Loan Management</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i> Create New</a>
</p>
@*@if (Model != null && Model.Count() > 0)
{*@
    <table class="table">
        <thead>
            <tr>
                @if (this.User.IsInRole("Admin"))@*Se o user for o admin -> vê td os Loans de td os users*@
                {
                    <th>
                        @Html.DisplayNameFor(model => model.User.FullName)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.QuantityOfLoan)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.QuantityOfBooks)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.LoanDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnDate)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityOfLoan)
                    </td>
                   @* <td>
                        @Html.DisplayFor(modelItem => item.QuantityOfBooks)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnDate)
                    </td>
                   
                    <td>
                        <a asp-action="Accept" asp-route-id="@item.Id" class="btn btn-info" id="btnDeliver"><i class="fa fa-check" aria-hidden="true"></i> Accept</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete"><i class="fa fa-trash"></i> Delete</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
@*}*@

@*else
{
    <h2>There are no results to present!</h2>
}
*@
