@model IEnumerable<UniversalLibrary.Data.Entities.Author>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--CSS-->
<link href="~/asset/css/bootstrap.css" rel="stylesheet" />
<link href="~/asset/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/asset/css/responsive.css" rel="stylesheet" />
<link href="~/asset/css/style.css" rel="stylesheet" />
<a href="~/asset/css/style.css.map"></a>


<!--FONTES-->
<a href="~/asset/fonts/fontawesome-webfont.ttf"></a>
<a href="~/asset/fonts/fontawesome-webfont.woff"></a>
<a href="~/asset/fonts/fontawesome-webfont.woff2"></a>
<a href="~/asset/fonts/octin_sports_rg.ttf"></a>

<!--JS-->
<script src="~/asset/js/bootstrap.js"></script>
<script src="~/asset/js/custom.js"></script>
<script src="~/asset/js/jquery-3.4.1.min.js"></script>


@*insere uma biblioteca*@
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<br />
<h1>Authors Management</h1>
<br />

<div>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create New</a> @*chama a action create qd carrego no botão*@    
</div>

<style type="text/css">
    .table {
        margin-left: auto;
        margin-right: auto;
    }
    .table th, .table td {
            text-align: center;
    }
    .th {
        text-align: center;
    }
    .td {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="fa-panel panel-default">
            @*<div class="panel-heading">
                <h3 class="panel-title"></h3>                
            </div>*@
            <br />
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageAuthor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                           @* <th>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Nationality)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Biography)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MajorWorks)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AwardsAndRecognitions)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OtherDetails)
                            </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageAuthor))
                                    {
                                        <img src="@Url.Content(item.ImageAuthor)" alt="Image" style="width:100px; height:150px;max-width:100%;height:auto">
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nationality)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Biography)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MajorWorks)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AwardsAndRecognitions)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OtherDetails)
                                </td>*@
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>            
    </div>        
</div>
    

@*DUVIDA: N ESTÁ A FUNCIONAR.??*@
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.boostrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable'.DataTable();
        });
    </script>
}



